.img-main-a{
	border:1px solid #021a40; 
    height:300px;
	width:230px;
}

.img-main-b{
	border:1px solid #021a40; 
    height:270px;
	width:200px;
}

.img-art-gallery{
	border:3px solid #ffffff; 
	height:300px;
	width:230px;
}

.gallery-table{
	width:fit-content; 
    margin-left:28%;
	text-align:center;
	background-color:cadetblue;
}

.gallery-table .table-content{
	column-width:10px;
}

#descr-font{
	text-align:center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;	
}